{% extends "base.html" %}

{% block content %}
<html>
   <body>
   	<h1 align="center">News Analyzer</h1>
	<p align="center"><a href=upload><button class=grey style="height:75px;width:150px">Upload File</button></a></p>
	<p align="center"><a href=read><button class=grey style="height:75px;width:150px">View All Records</button></a></p>
	<p align="center"><a href=sentiment><button class=grey style="height:75px;width:150px">Sentiment Analysis</button></a></p>
	<p align="center"><a href=search><button class=grey style="height:75px;width:150px">Search Articles by Keyword</button></a></p>
   </body>
</html>
{% endblock %}
