{% extends "base.html" %}

{% block content %}
<html>
   <body>
      <form action = "http://localhost:5000/search/keyword_search" method = "GET" 
         enctype = "multipart/form-data">
         <input name = "keyword" />
         <input type = "submit"/>
      </form>   
    {% if articles %}
    <table class="table is-striped is-fullwidth">
      {% for article in articles %}
      <tr>
        <td>
          {{ article['URL'] }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
   </body>
</html>
{% endblock %}
